In [23]:
print('Ekram Shethil')

Ekram Shethil

In [24]:
# What is the price on day3?

stock_price=[298,305,320,301,292]
print(stock_price[2])

320

In [25]:
#On what day price was 301?

for i in range(len(stock_price)):
  if stock_price[i]==301:
    print(i)

3

In [26]:
# print all prices

for price in stock_price:
  print(price)

298
305
320
301
292

In [27]:
# Insert new price 284 at index 1

stock_price.insert(1,284)
print(stock_price)

[298, 284, 305, 320, 301, 292]

In [28]:
# Delete element at index 1

stock_price.pop(1)
print(stock_price)

[298, 305, 320, 301, 292]

In [37]:
# Index check

numbers = [4,8,9,15,21,34,57,68,98,42]

for i in range(len(numbers)):
  if numbers[i]==68:
    print(i)

7

In [36]:
# Duplicate Number Check

numbers = [3,6,2,4,3,6,8,9]

for i in range(len(numbers)):
  for j in range(i+1, len(numbers)):
    if numbers[i]==numbers[j]:
      print("It's a Duplicate Number :",numbers[i])
      break

It's a Duplicate Number : 3
It's a Duplicate Number : 6